{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "babel-preset-expo",
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
  ],
  "ignore": [
    "node_modules",
    "**/public"
  ]
}
